<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boot.data.mapper.AdminMapper">

	<select id="getAdminId" parameterType="String" resultType="admin">
		select * from admin where a_id=#{a_id}
	</select>
	
	<select id="adminLoginPassCheck" parameterType="Map" resultType="int">
		select count(*) from admin where a_id=#{a_id} and a_pass=#{a_pass}
	</select>
</mapper>